* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}
#graph-container {
    position: relative;
    width: 45%;
    height: 0px; /* Ajusta la altura según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
}

.node {
    width: 100px;
    height: 55px;
    border: 2px solid #333;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    background-color: #fff;
    position: absolute;
}

.line {
    border: 2px solid #333;
    position: absolute;
    z-index: -1;
}

.visited-node {
    background-color: #ff5733; /* Cambia el color de fondo a rojo, por ejemplo */
}

